/* .main-container.light {
  background-color: #fff;
  color: #000;
}

.main-container {
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
}
.border-container {
  width: 750px;
  max-width: 100%;
  position: fixed;
  top: 0;
  transition: top;
  z-index: 6;
}

.header-border {
  border: 1px solid #e5e7eb;
  box-shadow: 1px 1px 1px #e5e7eb;
  position: sticky;
  top: 0;
  background-color: white;
}

.hide {
  top: -100%;
}
.menu-header {
  display: flex;
  justify-content: space-between;
  width: 750px;
  max-width: 100%;
  border: 0.1px solid transparent;
  box-shadow: 0px 1px 1px transparent;
  padding: 16px;
  align-items: center;
  box-sizing: border-box;
}
.arrow_moon,
.filter_search {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 15px;
}
.back {
  border: 1px solid transparent;
  background-color: none;
  width: 28px;
  height: 28px;
  border-radius: 20%;
  padding: 8px;
  cursor: pointer;
}

.back-arrow {
  margin: 4px 2px;
  color: black;
  width: 20px;
  height: 20px;
}

.back:hover {
  width: 28px;
  height: 28px;
  border: 1px solid #e9efff;
  background-color: #e9efff;
  border-radius: 20%;
  padding: 8px;
  cursor: pointer;
}
.menu-note {
  margin: 15px;
  margin-top: 150px;
  display: flex;
  align-items: center;
  position: absolute;
}
.menu-note p {
  margin: 10px;
}
.menu-mode {
  width: 45px;
  height: 45px;
  border: 1px solid hsl(210 40% 96.1%);
  background-color: hsl(210 40% 96.1%);
  border-radius: 20%;
  padding: 8px;
  cursor: pointer;
}

.mode:hover {
  background-color: hsl(210 80% 97.1%);
  cursor: pointer;
}

.moonIcon {
  width: 25px;
  height: 22px;
  color: #000000;
}

#moon {
  display: block;
}

.sunIcon {
  width: 25px;
  height: 22px;
  color: #000000;
  fill: #000;
}

#sun {
  display: none;
}
.search {
  border: 1px solid transparent;
  background-color: none;
  width: 25px;
  height: 25px;
  border-radius: 20%;
  padding: 8px 4px 8px 12px;
  cursor: pointer;
}

.searchIcon {
  color: #000;
}

.search:hover {
  width: 25px;
  height: 25px;
  border: 1px solid #e9efff;
  background-color: #e9efff;
  border-radius: 20%;
  padding: 8px 4px 8px 12px;
  cursor: pointer;
}

.filter {
  border: 1px solid transparent;
  background-color: none;
  width: 45px;
  height: 45px;
  border-radius: 20%;
  padding: 8px;
  cursor: pointer;
}
.filterIcon {
  border: none;
  background: none;
  width: 20px;
  height: 20px;
}
.filter:hover {
  width: 45px;
  height: 45px;
  border: 1px solid #e9efff;
  background-color: #e9efff;
  border-radius: 20%;
  padding: 8px;
  cursor: pointer;
}

.meals {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  border: none;
  gap: 8px;
  scroll-behavior: smooth;
  padding-left: 1rem;
  padding-right: 1rem;
}

.meal {
  border-color: hsl(214.3 31.8% 91.4%);
  border-width: 1px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 12%;
  height: 35px;
  width: 100%;
  font-size: 14px;
  white-space: nowrap;
  cursor: pointer;
  color: #020817;
}

.search-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fefefe;
  padding: 20px;
}

.modal-search-content {
  width: 100%;
  max-width: 750px;
  height: 100%;
}
.modal-search-content a {
  width: 300px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  line-height: 1, 75rem;
  font-size: 1.125rem;
}
.modal-search-content a:hover {
  color: #000000;
}
.back-container {
  display: flex;
  align-items: center;
}

.back-arrow-modal {
  margin-right: 15px;
}

.main-search-input[type="text"] {
  font-size: 16px;
  padding: 5px;
  margin: 10px 0 0 12px;
  border: none;
  margin: 15px 0;
  width: 500px;
  height: 10px;
  outline: none;
}
.main-search-input[type="text"]:focus {
  border: none;
  outline: none;
}
.search-modal-input {
  margin: 10px;
  display: flex;
  flex-direction: row;
  width: 700px;
  height: 55px;
  border: 0.1px solid hsl(210 40% 96.1%);
  border-radius: 5px;
}
.search-modal-input:focus {
  border: 1px solid #69aafa;
  box-shadow: 1px 0.5px 4px 1px rgba(105, 170, 250, 0.5);
}
.searchIconModal {
  margin: 15px;
}

.back-text {
  text-decoration: none;
}
.modal {
  overflow: hidden;
}

.modal-content4 {
  background-color: hsl(0 0% 100%);
  width: 470px;
  border-radius: 10px 10px 0 0;
  padding: 20px;
  position: relative;
  animation: slideDown 0.5s forwards, slideUp 0.5s forwards;
  overflow-y: none;
  color: #000;
}

.choice {
  margin-left: 1px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
}
.choice-basket {
  margin-left: 1px;
}
.choice-basket {
  margin: 20px 20px 30px 15px;
  font-weight: 600;
  font-size: 24px;
}
.filters {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.filtersBtn {
  font-size: 14px;
  font-weight: 300;
  border-radius: 12px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 7px;
  height: 40px;
  cursor: pointer;
  background-color: hsl(210 40% 96.1%);
  border: 1px solid hsl(210 40% 96.1%);
  padding-left: 16px;
  padding-right: 16px;
}
.select-picker select {
  width: 100%;
}

.allergies {
  font-size: 14px;
  font-weight: 500;
  margin: 25px 0;
  color: #000;
}
.dropdown {
  width: 100%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.mealsOptions {
  padding: 0 20px;
}

.mySwiper {
  width: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.swiper-slide-auto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto !important;
}
.meal {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 0 20px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.meal:hover {
  background-color: #f0f0f0;
}

.choiceAllergie {
  max-height: 200px;
  overflow-y: auto;
}

.select-picker {
  width: 450px;
}

.choiceAllergie select {
  width: 100%;
  max-width: 450px;
  padding: 8px 12px;
  box-sizing: border-box;
}

.choiceAllergie option {
  padding: 8px 12px;
}
.bisirilme-vaxti {
  margin: 25px 0 15px 0;
  font-weight: 500;
  color: #000;
}
.filter-section-buttons {
  display: flex;
  align-items: center;
}
.filter-section-delete-button {
  padding: 15px 20px;
  border: 1px solid #e0e0e050;
  border-radius: 15px;
}
.filter-section-confirm-button {
  margin-left: 10px;
  padding: 18px 162px;
  border: 1px solid #000;
  background-color: #000;
  border-radius: 12px;
  color: #fff;
}

.filtersBtn.active {
  .filtersBtn-span {
    background-color: #000;
  }
  .filtersBtn-img {
    background-color: #000;
  }
  background-color: #000;
  color: #fff;
}

.footer1 {
  position: fixed;
  bottom: 10px;
  background-color: #000;
  border-radius: 12px;
  z-index: 4;
  padding: 10px;
  font-size: 1.25rem;
  line-height: 1.75rem;
  width: 700px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  box-shadow: 0 0 0 #0000, 0 0 0 #0000, 0 25px 50px -12px hsl(0, 0%, 0%);
}
.faBasket {
  font-size: 22px;
}
.footer2 {
  position: fixed;
  bottom: 10px;
  background-color: #000;
  border-radius: 12px;
  z-index: 4;
  padding: 12px 23px 17px 9px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  box-shadow: 0 0 0 #0000, 0 0 0 #0000, 0 25px 50px -12px hsl(0, 0%, 0%);
}
.order-count {
  color: #000;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 15px;
  top: 17%;
  left: 30px;
  background-color: #fff;
  padding: 2px 6px;
  font-size: 10px;
  border-radius: 50%;
  border: 2px solid #000;
}

.order-count2 {
  color: #000;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 15px;
  top: 17%;
  left: 30px;
  background-color: #fff;
  padding: 2px 6px;
  font-size: 10px;
  border-radius: 50%;
  border: 2px solid #000;
}

.footerBtn {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.faBasket {
  color: white;
}

.total {
  color: white;
}

.close {
  padding: 0 10px 12px 10px;
  font-size: 22px;
  margin: 5px;
}

.basketImg {
  width: 100px;
  height: 100px;
  margin-top: 30px;
}

.emptyBasket {
  display: flex;
  justify-content: center;
}

.basketText {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 90px;
}

.notes {
  margin: 50px 35px 0 15px;
}

.note {
  width: 100%;
  background-color: hsl(210 40% 96.1%);
  border: hsl(210 40% 96.1%);
  border-radius: 12px;
  padding: 10px;
}

.footerBtns {
  margin-top: 15px;
}

.filter-section-delete-button2 {
  padding: 15px 20px;
  border: 1px solid #e0e0e050;
  border-radius: 15px;
  margin-left: 15px;
}
.wp-order {
  max-width: 500px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #22c55e;
  border-radius: 15px;
  margin: 0 10px 20px 0;
  color: #fff;
}

.footerBtns {
  height: 60px;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  color: #f8fafc;
}
.faWhatsapp {
  font-size: 40px;
}
.wp-order:hover {
  background-color: #000;
}

.product {
  padding: 16px;
  font-size: 24px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.01);
  color: black;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
}

.productsList {
  width: 100%;
  margin-top: 200px;
}

.food {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
}

.foodBtn {
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.namePrice {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.foodName {
  font-size: 14px;
  font-weight: 600;
  color: black;
}

.price {
  font-weight: 700;
  font-size: 16px;
  color: black;
}

.foodImg {
  width: 150px;
  height: 84px;
  border-radius: 12px;
  object-fit: cover;
}

.image {
  position: relative;
  display: inline-block;
}

.plus {
  font-weight: 100;
  position: absolute;
  bottom: 0;
  right: 0;
  background: black;
  color: white;
  padding: 2px 5px;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.modal-content5 {
  height: auto;
  padding: 0;
  background-color: hsl(0 0% 100%);
  width: 520px;
  border-radius: 10px 10px 0 0;
  position: relative;
  animation: slideUp 0.5s forwards;
  overflow-y: auto;
  color: #000;
  margin-top: 0;
  max-height: 95vh;
}

.close {
  animation: slideDown 0.5s forwards;
}

.modal_info {
  margin-top: 0;
}

.imgimg {
  margin-top: 0;
}

.productImg {
  z-index: 0;
  margin-top: 0;
  height: auto;
  width: 100%;
  max-height: 70vh;
  object-fit: contain;
}

.choice {
  font-size: 24px;
  font-weight: 700;
  padding: 0 15px;
}
.vaul-scrollable {
  padding: 10px;
}

.counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid hsl(210 40% 96.1%);
  border-radius: 12px;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  gap: 10px;
}
.counter-basket {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid hsl(210 40% 96.1%);
  border-radius: 12px;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  gap: 10px;
  max-height: 40px;
}
.basket-main {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
  margin-bottom: 15px;
  gap: 10px;
  max-width: 100%;
  width: 100px;
}

#count {
  font-size: 30px;
  font-weight: 400;
}

.addBasket {
  border: 1px solid hsl(210 40% 96.1%);
  border-radius: 12px;
  width: 350px;
  max-width: 100%;
  height: 60px;
  background-color: #000;
  color: white;
  font-size: 14px;
}

.countNmbr {
  font-size: 16px;
  font-weight: 400;
  width: 20px;
  display: flex;
  justify-content: center;
  color: #000;
}

button:disabled {
  color: #999;
  cursor: auto;
  opacity: 0.6;
}
.modal-content-product {
  background-color: #fff;
  width: 500px;
  height: auto;
  border-radius: 8px;
}
.modal-content-product .choice {
  margin-bottom: 20px;
}

button:disabled {
  color: #999;
  cursor: auto;
  opacity: 0.6;
}
button {
  color: #000;
}
.basket-item-top {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.basket-item-bottom {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
.basket-item-remove {
  padding: 5px 10px;
  border: 1px solid hsl(210 40% 96.1%);
  border-radius: 20%;
}

.productsList {
  margin-bottom: 60px;
}

.main-container.dark {
  background-color: #000;
  color: #fff;
  .menu-header {
    background-color: #000;
    color: #fff;
  }
  .back:hover {
    width: 28px;
    height: 28px;
    border: 1px solid #1e293b;
    background-color: #1e293b;
    border-radius: 20%;
    padding: 8px;
    cursor: pointer;
  }
  .back-arrow {
    color: white;
  }
  .back-arrow:hover {
    background-color: #1e293b;
  }
  .mode {
    background-color: #1e293b;
    border: 1px solid #1e293b;
    color: white;
  }

  .mode:hover {
    background-color: #1e293b;
    border: 1px solid #1e293b;
    color: white;
  }
  .moonIcon {
    color: white;
    background-color: #1e293b;
  }

  .moonIcon:hover {
    color: white;
    background-color: #1e293b;
  }

  #moon {
    display: none;
  }
  .sunIcon {
    fill: #fff;
    color: white;
    background-color: #1e293b;
  }

  #sun {
    display: block;
  }

  .choice {
    background-color: hsl(222.2 84% 4.9%);
  }

  .modal-content-product {
    background-color: hsl(222.2 84% 4.9%) !important;
  }

  .basket-main {
    background-color: hsl(222.2 84% 4.9%);
  }

  .modal_info {
    background-color: hsl(222.2 84% 4.9%);
  }

  .back-arrow {
    fill: #fff;
  }
  .sun-svg {
    fill: #fff;
    background-color: #1e293b;
  }
  .menu-mode {
    background-color: #1e293b;
    border: none;
  }
  .menu-mode:hover {
    background-color: #182232;
    border: none;
    .sunIcon {
      background-color: #182232;
    }
  }
  .modal-content5 {
    background-color: hsl(222.2 84% 4.9%) !important;
  }
  .searchIcon {
    color: white;
  }
  .search:hover {
    width: 25px;
    height: 25px;
    border: 1px solid #1e293b;
    background-color: #1e293b;
    border-radius: 20%;
    padding: 8px 4px 8px 12px;
    cursor: pointer;
  }
  .filter:hover {
    width: 45px;
    height: 45px;
    border: 1px solid #1e293b;
    background-color: #1e293b;
    border-radius: 20%;
    padding: 8px;
    cursor: pointer;
  }
  .filterIcon {
    fill: white;
    cursor: pointer;
  }

  .menu-note p {
    color: #fff;
  }
  .meal {
    color: white;
  }
  .meal:hover {
    background-color: #1e293b;
    color: white;
  }
  .search-modal {
    background-color: #000;
    color: #fff;
  }

  .MuiCollapse-root {
    color: white !important;
    border: white !important;
  }

  .MuiPaper-root {
    background-color: hsl(222.2 84% 4.9%) !important;
    color: white;
  }
  .MuiList-root {
    background-color: hsl(222.2 84% 4.9%) !important;
  }

  .css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
    background-color: hsl(222.2 84% 4.9%) !important;
  }

  .back-text {
    color: #fff;
  }
  .back-arrow-modal {
    color: #fff;
  }
  .searchIconModal {
    color: #fff;
  }
  .main-search-input {
    color: #fff;
  }
  .modal-content4 {
    background-color: hsl(222.2 84% 4.9%) !important;
  }

  .dropdown {
    background-color: #000000;
    border: 1px solid #69aafa;
    color: #fff;
  }

  .dropdown span {
    color: #fff;
  }
  .meal {
    color: #fff;
    background-color: #000;
    border: 1px solid #1e293b;
  }
  .meal-:hover {
    background-color: #1e293b;
  }
  .header-border {
    border: none;
    box-shadow: none;
  }
  .modal-content4 {
    color: #f8f8f8;
  }
  .filtersBtn {
    background-color: #1e293b;
    border: none;
  }
  .filtersBtn span {
    background-color: #1e293b;
    border: none;
  }
  .filtersBtn img {
    background-color: #1e293b;
    border: none;
  }
  .allergies {
    color: #f8f8f8;
  }

  .modal-content4 {
    background-color: #000;
  }
  .allergies-form {
    border: 1px solid #1e293b;
    border-radius: 10px;
  }
  .allergiya-sec {
    color: #f8f8f8;
  }
  .bisirilme-vaxti {
    color: #f8f8f8;
  }
  .filter-section-confirm-button {
    background-color: #595959;
  }
  .filtersBtn.active {
    .filtersBtn-span {
      background-color: #595959;
    }
    .filtersBtn-img {
      background-color: #595959;
    }
    background-color: #595959;
  }

  .MuiInputBase-root {
    border: hsl(0 0% 35%);
  }

  .MuiSlider-track {
    background-color: hsl(0 0% 35%);
    border: hsl(0 0% 35%);
  }

  .MuiSlider-thumb {
    background-color: black;
    border: 2px solid hsl(0 0% 35%);
  }

  .mealsOptions {
    background-color: #000;
    fill: #000;
  }
  .rounded-top {
    background-color: #1e293b;
    border: 1px solid #1e293b;
  }
  .close {
    background-color: #182232;
    color: #a8a3a3;
    border: none;
  }
  .close:hover {
    background-color: #1e293b;
    color: #fff;
  }
  .footer1,
  .footer2 {
    background-color: #595959;
  }
  .modal-content5 {
    color: #fff;
    background-color: #000;
  }
  .note {
    background-color: #1e293b;
  }
  .wp-order:hover {
    background-color: #595959;
  }

  .productImg {
    background-color: hsl(222.2 84% 4.9%);
  }
  .product {
    color: #fff;
    background-color: black;
  }
  .imgimg {
    background-color: hsl(222.2 84% 4.9%);
  }
  .category {
    background-color: #000;
    color: #fff;
  }
  .choice {
    color: white;
  }
  .foodName {
    color: #fff;
  }
  .price {
    color: #595959;
  }
  .thePrice {
    color: #595959;
  }
  .modal-content-product {
    background-color: #000;
  }
  .addBasket {
    background-color: #595959;
    border-color: #595959;
  }
  button:disabled {
    color: #999;
    cursor: auto;
    opacity: 0.6;
  }
  button {
    color: #fff;
  }
  .counter {
    color: #fff;
    border-color: #1e293b;
  }
  hr {
    display: none;
  }
  .countNmbr {
    color: #fff;
  }
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
    width: 100%;
  }

  .search-modal-input,
  .main-search-input[type="text"] {
    width: 100%;
  }

  .main-search-input[type="text"] {
    font-size: 14px;
  }

  .choice-basket {
    background-color: #000;
    color: #fff;
    fill: #fff;
  }
  .countNmbr {
    color: #000;
  }
}

@media (max-width: 640px) {
  .food {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  .main-container {
    display: flex;
    justify-content: start;
  }

  .modal-content4 {
    width: 90%;
    max-width: 400px;
  }
  .MuiFormControl-root {
    width: 90%;
    max-width: 380px;
  }
  .MuiBox-root {
    width: 90%;
    max-width: 398px;
  }
  .filter-section-confirm-button {
    width: 90%;
    max-width: 300px;
    white-space: nowrap;
  }
  .footer1 {
    width: 500px;
  }
}

@media (max-width: 500px) {
  .modal-content4 {
    width: 80%;
    max-width: 400px;
  }
  .MuiFormControl-root {
    width: 80%;
    max-width: 380px;
  }
  .MuiBox-root {
    width: 80%;
    max-width: 398px;
  }
  .filter-section-confirm-button {
    width: 80%;
    max-width: 300px;
  }
  .footer1 {
    width: 80%;
    max-width: 300px;
  }
} */
body {
  background-color: #000;
  position: relative;
}
.menu-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  z-index: 1000001;
  width: 1300px;
  align-items: center;
}
.menu-header-text {
  display: flex;
  align-items: center;
  font-family: NOIR et BLANC Italic;
  font-size: 100px;
  font-weight: 100;
  color: #d9b852;
  font-style: italic;
}

hr {
  border: 0.5px solid #ffffffba;
  width: 400px;
}

.mealsOptions {
  padding: 0 20px;
  color: #fff;
}

.mySwiper {
  max-width: 900px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  color: #fff;
}
.swiper-slide-auto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto !important;
  color: #fff;
  fill: #fff;
}

.meal {
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 12%;
  height: 35px;
  width: 100%;
  white-space: nowrap;
  cursor: pointer;
  font-family: Baskerville;
  font-size: 28px;
  font-weight: 400;
  line-height: 36.61px;
  color: #d9b852;
}
.powder-leftside {
  position: absolute;
  z-index: 10001;
  top: -100px;
  left: 0;
  transform: rotate(90deg);
}
.powder-rightside {
  position: absolute;
  z-index: 10001;
  top: 200px;
  right: 0;
  transform: rotate(270deg);
}

.basket2 {
  float: right;
  width: 83px;
  height: 70px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  margin-top: 480px;
  margin-right: 20px;
}
.cart{
  background-color: #d9b852;
  width: 240px;
  height: 300px;
  margin: 10px;
  border-radius: 20px;
}
