[data-theme="dark"] {
  --background-color: black;
}

.main-container {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
}
.border-container {
  width: 750px;
  max-width: 100%;
  position: sticky;
}
.menu-header {
  display: flex;
  justify-content: space-between;
  width: 750px;
  max-width: 100%;
  border: 0.1px solid transparent;
  box-shadow: 0px 1px 1px transparent;
  padding: 16px;
  align-items: center;
  box-sizing: border-box;
}
.arrow_moon,
.filter_search {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 15px;
}
.back {
  border: 1px solid transparent;
  background-color: none;
  width: 28px;
  height: 28px;
  border-radius: 20%;
  padding: 8px;
  cursor: pointer;
}
[data-theme="dark"] .back:hover {
  width: 28px;
  height: 28px;
  border: 1px solid #1e293b;
  background-color: #1e293b;
  border-radius: 20%;
  padding: 8px;
  cursor: pointer;
}
.back-arrow {
  margin: 8px 0;
  color: black;
  width: 20px;
  height: 20px;
}
[data-theme="dark"] .back-arrow {
  color: white;
}
[data-theme="dark"] .back-arrow:hover {
  background-color: #1e293b;
}
.menu-note {
  margin: 15px;
  display: flex;
  align-items: center;
}
.menu-note span {
  margin: 10px;
}
.menu-mode {
  width: 45px;
  height: 45px;
  border: 1px solid hsl(210 40% 96.1%);
  background-color: hsl(210 40% 96.1%);
  border-radius: 20%;
  padding: 8px;
  cursor: pointer;
}

[data-theme="dark"] .mode {
  background-color: #1e293b;
  border: 1px solid #1e293b;
  color: white;
}

[data-theme="dark"] .mode:hover {
  background-color: #1e293b;
  border: 1px solid #1e293b;
  color: white;
}
.mode:hover {
  background-color: hsl(210 80% 97.1%);
  cursor: pointer;
}

.moonIcon {
  width: 25px;
  height: 22px;
  color: #000000;
}

[data-theme="dark"] .moonIcon {
  color: white;
  background-color: #1e293b;
}

[data-theme="dark"] .moonIcon:hover {
  color: white;
  background-color: #1e293b;
}

#moon {
  display: block;
}

[data-theme="dark"] #moon {
  display: none;
}

.sunIcon {
  width: 25px;
  height: 22px;
  color: #000000;
}

[data-theme="dark"] .sunIcon {
  color: white;
  background-color: #1e293b;
}

[data-theme="dark"] .sunIcon:hover {
  color: white;
  background-color: #1e293b;
}

#sun {
  display: none;
}

[data-theme="dark"] #sun {
  display: block;
}

[data-theme="dark"] .back-arrow {
  fill: #fff;
}
[data-theme="dark"] .sun-svg {
  fill: #fff;
  background-color: #1e293b;
}
[data-theme="dark"] .menu-mode {
  background-color: #1e293b;
  border: none;
}
.search {
  border: 1px solid transparent;
  background-color: none;
  width: 45px;
  height: 45px;
  border-radius: 20%;
  padding: 8px;
  cursor: pointer;
}

[data-theme="dark"] .searchIcon {
  color: white;
}

[data-theme="dark"] .search:hover {
  width: 45px;
  height: 45px;
  border: 1px solid #1e293b;
  background-color: #1e293b;
  border-radius: 20%;
  padding: 8px;
  cursor: pointer;
}

.filter {
  border: 1px solid transparent;
  background-color: none;
  width: 45px;
  height: 45px;
  border-radius: 20%;
  padding: 8px;
  cursor: pointer;
}
.filterIcon {
  border: none;
  background: none;
  width: 20px;
  height: 20px;
}
[data-theme="dark"] .filter:hover {
  width: 45px;
  height: 45px;
  border: 1px solid #1e293b;
  background-color: #1e293b;
  border-radius: 20%;
  padding: 8px;
  cursor: pointer;
}
[data-theme="dark"] .filterIcon {
  fill: white;
  cursor: pointer;
}

[data-theme="dark"] .menu-note span {
  color: #fff;
}

.meals {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  border: none;
  gap: 8px;
  scroll-behavior: smooth;
  padding-left: 1rem;
  padding-right: 1rem;
}

.meal {
  border-color: hsl(214.3 31.8% 91.4%);
  border-width: 1px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 12%;
  height: 35px;
  width: 100%;
  font-size: 14px;
  white-space: nowrap;
  cursor: pointer;
  color: #020817;
}

[data-theme="dark"] .meal {
  color: white;
  border-color: #436395;
}
