[data-theme="dark"] {
  --background-color: black;
}

.main-container {
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
}
.border-container {
  width: 750px;
  max-width: 100%;
  position: sticky;
}
.header-border {
  border: 1px solid #e5e7eb;
  box-shadow: 1px 1px 1px #e5e7eb;
}
.menu-header {
  display: flex;
  justify-content: space-between;
  width: 750px;
  max-width: 100%;
  border: 0.1px solid transparent;
  box-shadow: 0px 1px 1px transparent;
  padding: 16px;
  align-items: center;
  box-sizing: border-box;
}
.arrow_moon,
.filter_search {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 15px;
}
.back {
  border: 1px solid transparent;
  background-color: none;
  width: 28px;
  height: 28px;
  border-radius: 20%;
  padding: 8px;
  cursor: pointer;
}
[data-theme="dark"] .back:hover {
  width: 28px;
  height: 28px;
  border: 1px solid #1e293b;
  background-color: #1e293b;
  border-radius: 20%;
  padding: 8px;
  cursor: pointer;
}
.back-arrow {
  margin: 8px 0;
  color: black;
  width: 20px;
  height: 20px;
}
[data-theme="dark"] .back-arrow {
  color: white;
}
[data-theme="dark"] .back-arrow:hover {
  background-color: #1e293b;
}
.back:hover {
  width: 28px;
  height: 28px;
  border: 1px solid #e9efff;
  background-color: #e9efff;
  border-radius: 20%;
  padding: 8px;
  cursor: pointer;
}
.menu-note {
  margin: 15px;
  display: flex;
  align-items: center;
}
.menu-note span {
  margin: 10px;
}
.menu-mode {
  width: 45px;
  height: 45px;
  border: 1px solid hsl(210 40% 96.1%);
  background-color: hsl(210 40% 96.1%);
  border-radius: 20%;
  padding: 8px;
  cursor: pointer;
}

[data-theme="dark"] .mode {
  background-color: #1e293b;
  border: 1px solid #1e293b;
  color: white;
}

[data-theme="dark"] .mode:hover {
  background-color: #1e293b;
  border: 1px solid #1e293b;
  color: white;
}
.mode:hover {
  background-color: hsl(210 80% 97.1%);
  cursor: pointer;
}

.moonIcon {
  width: 25px;
  height: 22px;
  color: #000000;
}

[data-theme="dark"] .moonIcon {
  color: white;
  background-color: #1e293b;
}

[data-theme="dark"] .moonIcon:hover {
  color: white;
  background-color: #1e293b;
}

#moon {
  display: block;
}

[data-theme="dark"] #moon {
  display: none;
}

.sunIcon {
  width: 25px;
  height: 22px;
  color: #000000;
}

[data-theme="dark"] .sunIcon {
  color: white;
  background-color: #1e293b;
}

[data-theme="dark"] .sunIcon:hover {
  color: white;
  background-color: #1e293b;
}

#sun {
  display: none;
}

[data-theme="dark"] #sun {
  display: block;
}

[data-theme="dark"] .back-arrow {
  fill: #fff;
}
[data-theme="dark"] .sun-svg {
  fill: #fff;
  background-color: #1e293b;
}
[data-theme="dark"] .menu-mode {
  background-color: #1e293b;
  border: none;
}
.search {
  border: 1px solid transparent;
  background-color: none;
  width: 25px;
  height: 25px;
  border-radius: 20%;
  padding: 8px;
  cursor: pointer;
  color: black;
}

[data-theme="dark"] .searchIcon {
  color: white;
}

[data-theme="dark"] .search:hover {
  width: 25px;
  height: 25px;
  border: 1px solid #1e293b;
  background-color: #1e293b;
  border-radius: 20%;
  padding: 8px;
  cursor: pointer;
}
.search:hover {
  width: 25px;
  height: 25px;
  border: 1px solid #e9efff;
  background-color: #e9efff;
  border-radius: 20%;
  padding: 8px;
  cursor: pointer;
  color: black;
}

.filter {
  border: 1px solid transparent;
  background-color: none;
  width: 45px;
  height: 45px;
  border-radius: 20%;
  padding: 8px;
  cursor: pointer;
}
.filterIcon {
  border: none;
  background: none;
  width: 20px;
  height: 20px;
}
.filter:hover {
  width: 45px;
  height: 45px;
  border: 1px solid #e9efff;
  background-color: #e9efff;
  border-radius: 20%;
  padding: 8px;
  cursor: pointer;
}
[data-theme="dark"] .filter:hover {
  width: 45px;
  height: 45px;
  border: 1px solid #1e293b;
  background-color: #1e293b;
  border-radius: 20%;
  padding: 8px;
  cursor: pointer;
}
[data-theme="dark"] .filterIcon {
  fill: white;
  cursor: pointer;
}

[data-theme="dark"] .menu-note span {
  color: #fff;
}

.meals {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  border: none;
  gap: 8px;
  scroll-behavior: smooth;
  padding-left: 1rem;
  padding-right: 1rem;
}

.meal {
  border-color: hsl(214.3 31.8% 91.4%);
  border-width: 1px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 12%;
  height: 35px;
  width: 100%;
  font-size: 14px;
  white-space: nowrap;
  cursor: pointer;
  color: #020817;
}

[data-theme="dark"] .meal {
  color: white;
}
.search-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fefefe;
  padding: 20px;
}

.modal-search-content {
  width: 100%;
  max-width: 750px;
  height: 100%;
}
.modal-search-content a {
  width: 300px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  line-height: 1, 75rem;
  font-size: 1.125rem;
}
.modal-search-content a:hover {
  color: #000000;
}
.back-container {
  display: flex;
  align-items: center;
}

.back-arrow-modal {
  margin-right: 15px;
}

.main-search-input[type="text"] {
  font-size: 16px;
  padding: 5px;
  margin: 10px 0 0 12px;
  border: none;
  margin: 15px 0;
  width: 500px;
  height: 10px;
  outline: none;
}
.main-search-input[type="text"]:focus {
  border: none;
  outline: none;
}
.search-modal-input {
  margin: 10px;
  display: flex;
  flex-direction: row;
  width: 700px;
  height: 55px;
  border: 0.1px solid hsl(210 40% 96.1%);
  border-radius: 5px;
}
.search-modal-input:focus {
  border: 1px solid #69aafa;
  box-shadow: 1px 0.5px 4px 1px rgba(105, 170, 250, 0.5);
}
.searchIconModal {
  margin: 15px;
}
[data-theme="dark"] .search-modal {
  background-color: #000;
  color: #fff;
}
.back-text {
  text-decoration: none;
}
[data-theme="dark"] .back-text {
  color: #fff;
}
[data-theme="dark"] .back-arrow-modal {
  color: #fff;
}
[data-theme="dark"] .searchIconModal {
  color: #fff;
}
[data-theme="dark"] .main-search-input {
  color: #fff;
}

.modal {
  overflow: hidden;
}

.modal-content4 {
  background-color: hsl(0 0% 100%);
  width: 470px;
  height: 380px;
  border-radius: 10px 10px 0 0;
  padding: 20px;
  position: relative;
  animation: slideDown 0.5s forwards, slideUp 0.5s forwards;
  overflow-y: auto;
}

.choice {
  margin-left: 1px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
}

.filters {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.filtersBtn {
  font-size: 14px;
  font-weight: 300;
  border-radius: 12px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 7px;
  height: 40px;
  cursor: pointer;
  background-color: hsl(210 40% 96.1%);
  border: 1px solid hsl(210 40% 96.1%);
  padding-left: 16px;
  padding-right: 16px;
}
.select-picker select {
  width: 100%;
}

.allergies {
  font-size: 14px;
  font-weight: 500;
  margin-top: 25px;
}
.dropdown {
  width: 100%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
[data-theme="dark"] .modal-content4 {
  background-color: #000000;
}
[data-theme="dark"] .modal-content4 {
  background-color: #000000;
}

[data-theme="dark"] .modal-content4 {
  background-color: #000000;
}

[data-theme="dark"] .dropdown {
  background-color: #000000;
  border: 1px solid #69aafa;
  color: #fff;
}

[data-theme="dark"] .dropdown span {
  color: #fff;
}

.mealsOptions {
  padding: 0 20px;
}

.mySwiper {
  width: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.swiper-slide-auto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto !important;
}
.meal {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 0 20px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.meal:hover {
  background-color: #f0f0f0;
}

[data-theme="dark"] .meal {
  color: #fff;
  background-color: #000;
  border: 1px solid #1e293b;
}
[data-theme="dark"] .meal:hover {
  background-color: #1e293b;
}
[data-theme="dark"] .header-border {
  border: none;
  box-shadow: none;
}
.choiceAllergie {
  max-height: 200px;
  overflow-y: auto;
}

.select-picker {
  width: 450px;
}

.choiceAllergie select {
  width: 100%;
  max-width: 450px;
  padding: 8px 12px;
  box-sizing: border-box;
}

.choiceAllergie option {
  padding: 8px 12px;
}
