 .search-modal.light {
  background-color: #fff;
  color: #000;
}


body {
  background-color: var(--background-color);
  color: var(--text-color);
}



.search-modal {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: flex-start; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fefefe;
  padding: 20px;
  overflow-y: auto;
}

.modal-search-content {
  max-width: 100%;
  width: 750px;
  height: 100%;
}

.modal-search-content a {
  width: 300px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  line-height: 1.75rem;
  font-size: 1.125rem;
}

.modal-search-content a:hover {
  color: #000000;
}

.back-container {
  display: flex;
  align-items: center;
}

.back-arrow-modal {
  background: transparent;
  margin: 4px 2px;
  color: black;
  width: 20px;
  height: 20px;
}


.back-text{
  margin-left: 10px;
}

.main-search-input[type="text"] {
  font-size: 16px;
  padding: 5px;
  margin: 10px 0 0 12px;
  border: none;
  margin: 15px 0;
  width: 750px;
  max-width: 100%;
  height: 10px;
  outline: none;
}

.search-header {
  background-color: white;
  width: 100%;
  display: flex; 
  flex-direction: column; 
  padding-bottom: 20px; 
}

.main-search-input[type="text"]:focus {
  border: none;
  outline: none;
}

.search-modal-input {
  margin: 10px;
  display: flex;
  flex-direction: row;
  height: 55px;
  border: 0.1px solid hsl(210, 40%, 96.1%);
  border-radius: 5px;
  max-width: 100%;
  width: 750px;
}

.search-modal-input:focus {
  border: 1px solid #69aafa;
  box-shadow: 1px 0.5px 4px 1px rgba(105, 170, 250, 0.5);
}

.searchIconModal {
  margin: 15px;
}



.back-text {
  text-decoration: none;
}


.modal {
  overflow: hidden;
}

.search-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.prices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  margin-bottom: 20px;
}

.namePrice {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 20px;
}

.foodName {
  flex: 1;
}

.thePrice {
  margin-right: 20px;
}



.price {
  white-space: nowrap;
  margin-right: 20px;
}
.search-modal.dark {
  background-color: #000;
  color: #fff;
  .search-modal {
    background-color: #000;
    color: #fff;
  }
  .back-text {
    color: #fff;
  }
  
  .back-arrow-modal {
    color: #fff;
  }
  
  .searchIconModal {
    color: #fff;
  }
  
 .main-search-input {
    color: #fff;
  }
  .search-header{
    background-color: #000;
  }
  .foodName,.price{
    color: #fff;
  }
  .back:hover{
    background-color: #1e293b;
    border: #1e293b;
    .back-arrow-modal{
      background-color: #1e293b;
    }
  
  }
}